<header *ngIf="isReady$ | async">
  <nav>
    <img
      id="logo-img"
      (click)="redirectHandler()"
      src="../../../assets/img/common/logo.png"
      alt="logo"
    />

    <ul class="menu">
      <li><a routerLink="/post/catalog">All Posts</a></li>
      <!-- Logged users -->
      <li *ngIf="isLogged$ | async">
        <a routerLink="/post/create">Create Post</a>
      </li>
      <li *ngIf="isLogged$ | async">
        <a routerLink="/post/profile"
          >Posts of {{ (currentUser$ | async).email }}</a
        >
      </li>
      <li *ngIf="isLogged$ | async">
        <a routerLink="/user/profile">Profile</a>
      </li>
      <!-- Guest users -->
      <li *ngIf="!(isLogged$ | async)">
        <a routerLink="/user/register">Register</a>
      </li>
      <li *ngIf="!(isLogged$ | async)">
        <a routerLink="/user/login">Login</a>
      </li>
    </ul>
    <img
      *ngIf="isLogged$ | async"
      id="logout-icon"
      (click)="logoutHandler()"
      src="../../../assets/img/common/logout.png"
      alt="logout"
    />
  </nav>
</header>
